source https://api.nuget.org/v3/index.json

storage: none
framework: netcore3.1, netstandard2.0, netstandard2.1

group Server
source https://www.nuget.org/api/v2

nuget Giraffe 4.0.1
nuget TaskBuilder.fs 2.1.0